Adafruit-DHT==1.3.4
Adafruit-GPIO==1.0.3
Adafruit-MCP3008==1.0.2
Adafruit-PureIO==0.2.3
Adafruit-SSD1306==1.6.2
bme680==1.0.5
click==6.7
crc16==0.1.1
enum34==1.1.6
hiredis==0.2.0
monotonic==1.5
Pillow==6.2.0
psutil==5.6.6
redis==2.10.5
RPi.GPIO==0.6.3
RPi.bme280>=0.2.2
smbus2>=0.2.1
spidev>=3.2
